# Business Sales Performance Analysis

## Company Name: Future Intern

## Domain nmame: Data Science and Analytics Internship

### Task 1: Online Retail Store Analysis

### Dataset Descripyion

About Dataset

InvoiceNo: Invoice number. Nominal, a 6-digit integral number uniquely assigned to each transaction. If this code starts with letter 'c', it indicates a cancellation

StockCode: Product (item) code. Nominal, a 5-digit integral number uniquely assigned to each distinct product.

Description: Product (item) name. Nominal.

Quantity: The quantities of each product (item) per transaction. Numeric.

InvoiceDate: Invice Date and time. Numeric, the day and time when each transaction was generated.

UnitPrice: Unit price. Numeric, Product price per unit in sterling

CustomerID: Customer number. Nominal, a 5-digit integral number uniquely assigned to each customer
.

Country: Country name. Nominal, the name of the country where each customer resides.resides.

# Importing necessary libraries as per this project

In [1]:
import pandas as pd
import numpy as mp

In [2]:
df = pd.read_csv("online_retail.csv") # Loading the Dataset into a variable name as df

In [3]:
df.head() # Displays the first fivr rows of the dataset

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

In [4]:
df.tail() #Displays the last five rows of the dataset

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,France

In [5]:
df.info() # Print the summary of the dataframe

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  object
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 33.1+ MB

Lets Rename the columns as per our requirements

In [6]:
# Rename columns
df.rename(columns={
    'InvoiceNo': 'invoice_no',
    'InvoiceDate': 'order_date',
    'Description': 'description',
    'CustomerID': 'customer_id',
    'Quantity': 'quantity',
    'UnitPrice': 'price'
}, inplace=True)

In [7]:
df.columns # display the name of the columns

Index(['invoice_no', 'StockCode', 'description', 'quantity', 'order_date',
       'price', 'customer_id', 'Country'],
      dtype='object')

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   invoice_no   541909 non-null  object
 1   StockCode    541909 non-null  object
 2   description  540455 non-null  object
 3   quantity     541909 non-null  int64
 4   order_date   541909 non-null  object
 5   price        541909 non-null  float64
 6   customer_id  406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 33.1+ MB

 order_date column is in object which is a wrong datatype we will change it to datetime

In [9]:
# Convert types
df['order_date'] = pd.to_datetime(df['order_date'], errors='coerce')
df['quantity'] = pd.to_numeric(df['quantity'], errors='coerce')
df['price'] = pd.to_numeric(df['price'], errors='coerce')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   invoice_no   541909 non-null  object
 1   StockCode    541909 non-null  object
 2   description  540455 non-null  object
 3   quantity     541909 non-null  int64
 4   order_date   541909 non-null  datetime64[ns]
 5   price        541909 non-null  float64
 6   customer_id  406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 33.1+ MB

In [10]:
df.shape # shows the shape of the data variable in tuple format
# variable_name(number of rows, number of columns)

(541909, 8)

In [11]:
df.columns # Displays columns name as below

Index(['invoice_no', 'StockCode', 'description', 'quantity', 'order_date',
       'price', 'customer_id', 'Country'],
      dtype='object')

In [12]:
df.describe()
# shows the Statistical details like count, mean,standard deviation, minimum value, quartile 1 i.e. 25 %, quartile 2 
# i.e. median or 50 %, quartile 3 i.e. 75%, maximum values

,quantity,order_date,price,customer_id
count,541909.000000,541909,541909.000000,406829.000000
mean,9.552250,2011-07-04 13:34:57.156386048,4.611114,15287.690570
min,-80995.000000,2010-12-01 08:26:00,-11062.060000,12346.000000
25%,1.000000,2011-03-28 11:34:00,1.250000,13953.000000
50%,3.000000,2011-07-19 17:17:00,2.080000,15152.000000
75%,10.000000,2011-10-19 11:27:00,4.130000,16791.000000
max,80995.000000,2011-12-09 12:50:00,38970.000000,18287.000000
std,218.081158,NaN,96.759853,1713.600303

In [13]:
df.isnull().sum() # checks whether are there any null values in dataset

invoice_no          0
StockCode           0
description      1454
quantity            0
order_date          0
price               0
customer_id    135080
Country             0
dtype: int64

We can see only two columns description and customer_id as null value in which customer_id has max null values

In [14]:
# Calculate percentage of nulls in customer_id 
cid = df['customer_id'].isnull().sum() / len(df) * 100 
d = df['description'].isnull().sum() / len(df) * 100
print(f"Percentage of missing customer_id: {cid:.2f}%")
print(f"Percentage of missing description: {d:.2f}%")

Percentage of missing customer_id: 24.93%
Percentage of missing description: 0.27%

Before we proceed we can also see that there are many negative values into the dataset in column Quantity and price which are invalid values we can't have those value for analysis so we will make sure only valid vlaues are counted into our dataset

In [15]:
# Keep only positive quantity and price
df = df[(df['quantity'] > 0) & (df['price'] > 0)]

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 530104 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   invoice_no   530104 non-null  object
 1   StockCode    530104 non-null  object
 2   description  530104 non-null  object
 3   quantity     530104 non-null  int64
 4   order_date   530104 non-null  datetime64[ns]
 5   price        530104 non-null  float64
 6   customer_id  397884 non-null  float64
 7   Country      530104 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 36.4+ MB

In [17]:
df.isnull().sum() # checks whether are there any null values in dataset

invoice_no          0
StockCode           0
description         0
quantity            0
order_date          0
price               0
customer_id    132220
Country             0
dtype: int64

After dropping the invalid negative values from the data we still have null values in customer_id

In [18]:
custid = df['customer_id'].isnull().sum() / len(df) * 100
print(f"Percentage of missing customer_id: {custid:.2f}%")

Percentage of missing customer_id: 24.94%

In [19]:
# Drop rows with missing customer_id  
df.dropna(subset=['customer_id'], inplace=True)

In [20]:
df.isnull().sum()

invoice_no     0
StockCode      0
description    0
quantity       0
order_date     0
price          0
customer_id    0
Country        0
dtype: int64

In [21]:
df.shape

(397884, 8)

Lets Create a new column of total_spend by customer 

toal spend = quantity x Price

In [22]:
df['total_sales'] = df['quantity'] * df['price']

In [23]:
print("Name of columns",df.columns)
print("shape of the dataset",df.shape)

Name of columns Index(['invoice_no', 'StockCode', 'description', 'quantity', 'order_date',
       'price', 'customer_id', 'Country', 'total_sales'],
      dtype='object')
shape of the dataset (397884, 9)

In [24]:
df.isnull().sum()

invoice_no     0
StockCode      0
description    0
quantity       0
order_date     0
price          0
customer_id    0
Country        0
total_sales    0
dtype: int64

In [25]:
df.to_csv('clean.csv') # Save the csv file in local Desktop